<html>
<head>
    <!-- [START css] -->
    <link rel="stylesheet" href="/public/mdl/css/material.min.css">
    <script defer src="/public/mdl/js/material.min.js"></script>

    <!-- [END css] -->
    <link rel="stylesheet" href="/public/css/base.css">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welcome to Public Chat</title>
    {% endif %}
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
          <span class="mdl-layout-title">
                  {% if title %}
                      {{ title }}
                  {% else %}
                      Public Chat
                  {% endif %}
          </span>
            <!-- Add spacer, to align navigation to the right -->
            <!-- Navigation. We hide it in small screens. -->
        </div>
    </header>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>