{% extends "base.html" %}
{% block content %}
    <script src="/public/jquery/index.js"></script>
    <script src="/public/pubnub/index.js"></script>
    <link rel="stylesheet" href="/public/css/chat_view.css">
    <div class="mdl-grid">
        <div class="chat-wrapper">
            <div id="inner" class="inner" onscroll="onScrolledMessageList()">
                <div id="content" class="content">
                    {% for message in messages %}
                        {% if message.user.user_id() == current_user.user_id() %}
                            <div class="message-wrapper me">
                        {% else %}
                            <div class="message-wrapper them">
                        {% endif %}
                    <div class="circle-wrapper animated bounceIn"></div>
                    <div class="text-wrapper animated fadeIn">
                        <div class="sender-title">{{ message.user.nickname() }} says:</div>
                        {{ message.content }}
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div id="bottom" class="bottom">
                    <textarea name="content" id="text-message-input" class="input"></textarea>
                    <div id="send" class="send" onclick=submit_message()></div>
                </div>
            </div>
        </div>
        <script src="/public/js/chat_view.js"></script>
        <script>
            var currentUserId = {{ current_user.user_id() }};

            function appendMessage(data) {
                var classForMessage = '';
                if (data.user.user_id == currentUserId) {
                    classForMessage = 'me'
                } else {
                    classForMessage = 'them'
                }
                $("#content").append(
                        "<div class='message-wrapper " + classForMessage + "'>" +
                        "<div class='circle-wrapper animated bounceIn'>" +
                        "</div><div class='text-wrapper animated fadeIn'>" +
                        "<div class='sender-title'>" + data.user.nickname + " says:" +
                        "</div>" + data.content +
                        "</div>" +
                        "</div>"
                );
                updateScroll();
            }

            function submit_message() {
                var textContent = $("#text-message-input").val()
                $("#text-message-input").val('')
                $.ajax({
                    type: "POST",
                    url: "{{ "/chats/"+chat.name+"/messages" }}",
                    data: JSON.stringify({content: textContent}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        publish(data);
                    },
                    failure: function (errMsg) {
                        console.log(errMsg);
                        alert(errMsg);
                    }
                });
            }
            $(window).load(updateScroll);
        </script>
        <script>
            pubnub = PUBNUB({
                publish_key: 'pub-c-76e26168-50bc-4426-ba45-e000b3c26fec',
                subscribe_key: 'sub-c-a1cfc456-2f9d-11e6-8b91-02ee2ddab7fe',
                ssl: (('https:' == document.location.protocol) ? true : false)
            })

            function publish(message_response) {
                pubnub.publish({
                    channel: "{{ chat.name }}",
                    message: message_response,
                    callback: function (m) {
                        console.log(m)
                    }
                })
            }
            pubnub.subscribe({
                channel: "{{ chat.name }}",
                message: function (message, envelope, channelOrGroup, time, channel) {
                    appendMessage(message)
                    console.log(
                            "Message Received." + "\n" +
                            "Channel or Group : " + JSON.stringify(channelOrGroup) + "\n" +
                            "Channel : " + JSON.stringify(channel) + "\n" +
                            "Message : " + JSON.stringify(message) + "\n" +
                            "Time : " + time + "\n" +
                            "Raw Envelope : " + JSON.stringify(envelope)
                    )
                },
            })

        </script>
{% endblock %}