{% extends "base.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
    <style>
        .mdl-grid {
            margin-left: 2%;
            margin-right: 2%;
            text-align: center;
        }

        {#        }#}
        * {
            box-sizing: border-box;
        }

        .chat-wrapper {
            margin-top: 3%;
            width: 80%;
            height: 70%;
            overflow: hidden;
            position: fixed;
            box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
        }

        .chat-wrapper .inner {
            overflow: scroll;
            height: 520px;
            background-color: white;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
        }

        .chat-wrapper .inner .content {
            padding: 2%;
        }

        .chat-wrapper .inner::-webkit-scrollbar {
            width: 0 !important;
        }

        .bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 64px;
            background: #ffffff;
        }

        .bottom .input {
            height: 64px;
            background: #ffffff;
            border: none;
            width: calc(100% - 64px);
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 5%;
            resize: none;
            overflow: scroll;
            padding-top: 24px;
            font-weight: 300;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
        }

        .bottom .input:focus {
            outline: none;
        }

        .bottom .input::-webkit-scrollbar {
            width: 0 !important;
        }

        .bottom .send {
            position: fixed;
            height: 42.66667px;
            width: 42.66667px;
            border-radius: 50%;
            border: 0;
            background: #F44336;
            color: #ffffff;
            bottom: 10.66667px;
            right: 10.66667px;
        }

        .bottom .send:before {
            content: '';
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
            background-size: 25.6px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .bottom .send:focus {
            outline: none;
        }

        .bottom .send:hover {
            cursor: pointer;
        }

        .message-wrapper {
            position: relative;
            overflow: hidden;
            width: 100%;
            margin: 10.66667px 0;
            padding: 10.66667px 0;
        }

        .message-wrapper .circle-wrapper {
            height: 42.66667px;
            width: 42.66667px;
            border-radius: 50%;
        }

        .message-wrapper .text-wrapper {
            padding: 10.66667px;
            min-height: 42.66667px;
            width: 60%;
            margin: 0 10.66667px;
            box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
            border-radius: 2px;
            font-weight: 300;
            position: relative;
            text-align: left;
            /* word-break: break-all; */
        }

        .message-wrapper .text-wrapper .sender-title {
            font-weight: bold;
            font-size: large;
        }

        .message-wrapper .text-wrapper:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
        }

        .message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
            background: #F44336;
            float: left;
            color: #ffffff;
        }

        .message-wrapper.them .text-wrapper:before {
            border-width: 0 10px 10px 0;
            border-color: transparent #F44336 transparent transparent;
            position: absolute;
            top: 0;
            left: -9px;
        }

        .message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
            background: #00c853;
            float: right;
            color: #333333;
        }

        .message-wrapper.me .text-wrapper:before {
            border-width: 10px 10px 0 0;
            border-color: #00c853 transparent transparent transparent;
            position: absolute;
            top: 0;
            right: -9px;
        }

        @media (max-width: 560px) {
            .chat-wrapper {
                width: 100%;
                height: 90%;
                height: 100vh;
                top: 0;
                left: 0;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }

            .chat-wrapper .inner {
                padding-top: 30px;
                height: 90%;
            }

        }


    </style>
    <div class="mdl-grid">
        <div class="chat-wrapper">
            <div id="inner" class="inner" onscroll="onScrolledMessageList()">
                <div id="content" class="content">
                    {% for message in messages %}
                        {% if message.user.user_id() == current_user.user_id() %}
                            <div class="message-wrapper me">
                        {% else %}
                            <div class="message-wrapper them">
                        {% endif %}
                    <div class="circle-wrapper animated bounceIn"></div>
                    <div class="text-wrapper animated fadeIn">
                        <div class="sender-title">{{ message.user.nickname() }} says:</div>
                        {{ message.content }}
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div id="bottom" class="bottom">
                    <textarea name="content" id="text-message-input" class="input"></textarea>
                    <div id="send" class="send" onclick=submit_message()></div>
                </div>
            </div>
        </div>
        <script>
            var currentUserId = {{ current_user.user_id() }};
            var scrolled = false;
            function updateScroll() {
                {#            if (!scrolled) {#}
                $("#inner").animate({scrollTop: $('#content').prop("scrollHeight")}, 1000);

                {#            }#}
            }

            function onScrolledMessageList() {
                scrolled = true;
            }
            ;

            function appendMessage(data) {
                var classForMessage = '';
                if (data.user.user_id == currentUserId) {
                    classForMessage = 'me'
                } else {
                    classForMessage = 'them'
                }
                $("#content").append(
                        "<div class='message-wrapper "+ classForMessage+"'>" +
                        "<div class='circle-wrapper animated bounceIn'>" +
                        "</div><div class='text-wrapper animated fadeIn'>" +
                        "<div class='sender-title'>" + data.user.nickname + " says:" +
                        "</div>" + data.content +
                        "</div>" +
                        "</div>"
                );
                updateScroll();
            }

            function submit_message() {
                var textContent = $("#text-message-input").val()
                $("#text-message-input").val('')
                $.ajax({
                    type: "POST",
                    url: "{{ "/chats/"+chat.name+"/messages" }}",
                    data: JSON.stringify({content: textContent}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        publish(data);
                    },
                    failure: function (errMsg) {
                        console.log(errMsg);
                        alert(errMsg);
                    }
                });
            }
            $(window).load(updateScroll);
        </script>
        <script>
            pubnub = PUBNUB({
                publish_key: 'pub-c-76e26168-50bc-4426-ba45-e000b3c26fec',
                subscribe_key: 'sub-c-a1cfc456-2f9d-11e6-8b91-02ee2ddab7fe'
            })

            function publish(message_response) {
                pubnub.publish({
                    channel: "{{ chat.name }}",
                    message: message_response,
                    callback: function (m) {
                        console.log(m)
                    }
                })
            }
            pubnub.subscribe({
                channel: "{{ chat.name }}",
                message: function (message, envelope, channelOrGroup, time, channel) {
                    appendMessage(message)
                    console.log(
                            "Message Received." + "\n" +
                            "Channel or Group : " + JSON.stringify(channelOrGroup) + "\n" +
                            "Channel : " + JSON.stringify(channel) + "\n" +
                            "Message : " + JSON.stringify(message) + "\n" +
                            "Time : " + time + "\n" +
                            "Raw Envelope : " + JSON.stringify(envelope)
                    )
                },
            })

        </script>
{% endblock %}