{% extends "base.html" %}
<!-- Simple list -->
{% block content %}
    <link rel="stylesheet" href="/public/css/chats.css">
    <button class="new-chat-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
            id="add">
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
    </button>
    <div class="mdl-grid">
        {% for chat in chats %}
            <div class="mdl-cell mdl-cell--4-col">
                <div class="demo-card-square mdl-card mdl-shadow--2dp centered-square">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">{{ chat.name }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {{ chat.description }}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           href={{ '/chats/'+chat.name }}>
                            Enter Chat
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <dialog class="mdl-dialog">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button close">
                        X
                    </button>
                </div>
            </div>
        </div>

        <form action="/chats" method="post">
            <div class="mdl-dialog__content">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input name='name' class="mdl-textfield__input" type="text" id="name">
                    <label class="mdl-textfield__label" for="name">Chat name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea name='description' class="mdl-textfield__input" type="text" rows="3"
                              id="description"></textarea>
                    <label class="mdl-textfield__label" for="description">Chat description</label>
                </div>
            </div>
            <input type="submit" class="submit-chat-button mdl-button mdl-js-button mdl-button--raised" value="SUBMIT">
        </form>
    </dialog>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <script src="/public/js/chats.js"></script>
    <script src="/public/jquery/index.js"></script>
    </button>
    <script>
        var snackbarContainer = document.querySelector('#demo-snackbar-example');
        var data = {
            message: 'Messages sent so far:',
            timeout: 2000,
            actionHandler: function () {
            },
            actionText: {{ message_count }}
        };
        setTimeout(function () {
            snackbarContainer.MaterialSnackbar.showSnackbar(data)
        }, 1000);
    </script>
{% endblock %}